<!DOCTYPE html>
<html>
  <head>
    <title>Simple login form</title>
    <link href="../static/hryar/form.css" rel="stylesheet">
  </head>
  <body>
    <form action="/login/" method="post">
    {% csrf_token %}
        <span class="form_title">Login</span>
        <label for="username"><strong>Email</strong></label>
        <input type="text" placeholder="Enter username" name="username" required>
        <label for="password"><strong>Password</strong></label>
        <input type="password" placeholder="Enter Password" name="password" required>
    <input class="submit_button" type="submit" value="Submit">
    </form>
  </body>
</html>